/* Layout */
.Container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: auto;
  background-color: #fdfdfd;
}
