/* Typography */
body {
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.Container {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 576px) {
  .Container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
