.Footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: auto;
  color: #fff;
  font-weight: 600;
  background-color: #48495d;
}

@media screen and (min-width: 576px) {
  .Footer .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.Footer a {
  color: #fff;
}

@media screen and (max-width: 576px) {
  .Footer .Copyright {
    margin-bottom: .25rem;
  }
}