.Fretboard {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.Fretboard table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.Fretboard .FretNumbers th:not(.Open) {
  border-right: 1px solid grey;
}

.Fretboard td {
  border: 1px solid grey;
}

.Fretboard .Fret {
  position: relative;
  height: 2rem;
  text-align: center;
}

.Fretboard .Note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-top: -2.25rem;
  font-weight: 600;
  line-height: 1;
}

.Fretboard .Fret .Note {
  margin-right: auto;
  margin-left: auto;
  font-size: .875rem;
  background-color: lightgrey;
  border-radius: 50%;
}

.Fretboard .Fret .HalfstepNote {
  display: none;
}

.Fretboard .Open {
  width: 4rem;
  border: 0;
}

.Fretboard .FretNumbers th.Spacer,
.Fretboard td.Spacer {
  width: 2rem;
  border-right: .25rem solid black;
  border-left: 0;
}

.Fretboard tr th {
  height: 1rem;
}

.Fretboard tr:last-of-type td {
  height: 1rem;
  border-bottom: 0;
}

.Fretboard tr:last-of-type .Note {
  margin-top: -1.25rem;
}

.Fretboard .FretNumber {
  margin-top: -3.5rem;
}
