.Fretboard {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.Fretboard table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.Fretboard td {
  border: 1px solid grey;
}

.Fretboard .Fret {
  position: relative;
  height: 2rem;
  text-align: center;
}

.Fretboard .FretNote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-top: -2.25rem;
  margin-right: auto;
  margin-left: auto;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
  background-color: lightgrey;
  border-radius: 50%;
}

.Fretboard .HalfstepNote {
  display: none;
}
