.Header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eff0f5;
}

.Header .Sitetitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .02em;
}

@media screen and (min-width: 576px) {
  .Header .Sitetitle {
    margin-bottom: .5rem;
    font-size: 2.5rem;
  }
}

.Header .SiteDescription {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1;
  opacity: .8;
}

@media screen and (max-width: 576px) {
  .Header .SiteDescription {
    display: none;
  }
}