.HeaderContent {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.Header .Sitetitle {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.Header .SiteDescription {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  opacity: .8;
}