.TuningButton {
  padding: 1rem 2rem;
  margin-right: .5rem;
  font-size: .875rem;
  font-weight: 500;
  background-color: #eff0f5;
  border: 0;
  border-radius: .125rem;
  cursor: pointer;
}

.TuningButton:hover {
  background-color: #d7dcea;
}

.TuningButton.Active {
  background-color: #bfc3e2;
}